<p id="notice"><%= notice %></p>

<div class="jumbotron">
    <h1>Get a perfect voice</h1>
    <p class="lead">Easily perform contests to find the best voices for your advertisement.</p>
    <p><a class="btn btn-lg btn-success" href="administrators/new" role="button">Sign up today</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Want to submit a contest?</h4>
        <p>Get voice actors to audition for your project, from pros to amateurs.</p>

        <h4>Honest and transparent pricing</h4>
        <p>All voice overs are backed by our 100% satisfaction guarantee.</p>

        <h4>Scale</h4>
        <p>Scale a high volume of voice overs reliably and affordably.</p>
    </div>

    <div class="col-lg-6">
        <h4>One format to hear em' all</h4>
        <p>Every voice file uploaded to a contest is automatically converted to MP3.</p>

        <h4>Reach the globe</h4>
        <p>Anyone can participate on your contest, don't even need to make an account registration.</p>

        <h4>Don't wait</h4>
        <p>Every file conversion and email notification is done on the background, what you get is ready to be used!.</p>
    </div>
</div>
