<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Companies</a></li>
            <li role="presentation"><a href="#">Login</a></li>
            <li role="presentation"><%= link_to "Voices", voices_path %></li>
        </ul>
    </nav>
    <h3 class="text-muted">Super Voices</h3>
</div>

<h2>New Administrator</h2>

<%= render 'form', administrator: @administrator %>

<%= link_to 'Back', '/' %>
